PORT = 4000
MONGO_URI = MONGO_URI=mongodb://<username>:<password>@localhost:27017/medhaven

FRONTEND_URL = http://localhost:5173
DASHBOAD_URL = http://localhost:5174
DOC_DASHBOAD_URL = http://localhost:5175
BACKEND_DOMAIN = localhost

JWT_SECRET_KEY = your_jwt_secret
JWT_EXPIRES = 7d
COOKIE_EXPIRE = 7

CLOUDINARY_CLOUD_NAME = your_cloud_name
CLOUDINARY_API_SECRET = your_cloud_api_secret
CLOUDINARY_API_KEY = your_cloud_api_key

